{% extends "base.html" %}

{% block content %}
    <div class="container">
    	<h2>Demostration</h2>
    	<p>Students at HIT got up from sem break to launch an offesive against the authority today.
    	</p>

    	<p><a href="mailto:newshit24hr@gmail.com">Share your story, pictures and videos</a></p>

      <p><a href="">Download pictures and videos</a></p>

      <div class="detailBox">
    <div class="titleBox">
      <label>Comment Box</label>
        <button type="button" class="close" aria-hidden="true">&times;</button>
    </div>
    <div class="commentBox">
        
        <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    
</div>

    </div>

{% endblock %}
