{% extends "base.html" %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/startbootstrap-clean-blog-gh-pages/img/hit-home-1.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>News 24</h1>
              <span class="subheading">Trending news around you!</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <h3>What's trending...</h3>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h2 class="post-title">
                Students protest for the first time ever over a number of issues
              </h2>
              <h3 class="post-subtitle">
                First strike at HIT
              </h3>
            </a>
            <p class="post-meta">A trending whatsapp message from unknown</p>

              <p class="post-meta">Ahoy maCdes!!!<br>

MaCdes, VC achiri kufunga kuti tiri kutamba. He's ultimately responsible for all the issues we are demonstrating over, so why won't he come out kuti ataure nesu?<br>

Yes, tiri kuendesa maIssues in writing, but izvozvo ndezve madilebarations avo for the solution yatiri kuda.<br>
Demo irikupedzwa neaddress yaVC! Hatisi kuenda kumalectures, tinenge tiri paNzara na8am tomorrow, and continually afterwards, until VC owns up and addresses us!<br>

Hatichada and Hatichatya!!!</p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="{{ url_for('misshit')}}">
              <h2 class="post-title">
                Finding Miss HIT
              </h2>
            </a>
            <p class="post-meta">Posted by
              userX
              </p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="https://twitter.com/twitter/statuses/983426714972884994">
              <h2 class="post-title">
                SRC President video
              </h2>
              <h3 class="post-subtitle">
               Reasons
              </h3>
            </a>
            <p class="post-meta">
              <a href="https://twitter.com/twitter/statuses/983426714972884994">Watch on twitter as SRC president lists reasons for protests</a></p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="https://www.zimeye.net/2018/04/09/harare-institute-of-technology-students-strike/">
              <h2 class="post-title">
                ZimEye coverage
              </h2>
              <h3 class="post-subtitle">
                IN PICTURES: Harare Institute Of Technology Students Strike
              </h3>
            </a>
            <p class="post-meta">
              <a href="https://www.zimeye.net/2018/04/09/harare-institute-of-technology-students-strike/">Click to watch</p>
          </div>
          <hr>

          <p><a href="mailto:newshit24hr@gmail.com">Share your story with us by email</a></p>

          <p><a href="https://drive.google.com/open?id=1rVRaZKd4AK7YXD502lCnKWDuR6iFa25e">Download videos and pictures</a></p>

          <p><a href="mailto:newshit24hr@gmail.com">We need developers and writers</a></p>

          <hr>

    

    {% endblock %}

    

