{% extends "base.html" %}

{% block content %}

        <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>Finding Miss HIT (the story of a search that never could end)!!!</h1>
                <p>You know how most men's conversations always end up gravitating towards women. Its like our lives revolve around the fairer sex. We talk politics, football, cars, but ultimately we end up getting back to the subject of the fairer sex.
                Which recently got me thinking!!! Who is the fairest of them 'ol at our dearest HIT. This was hard, because there is no event like Miss HIT during the course of our tiresome academic year at our beloved Uni (hmm, probably something we should protest about, hehe!). Grrr, we need to crown a queen like yesterday if you ask me.
                Having sad that, I found myself stuck about where to start. Technology girls have never been known for their looks, always the geeky type, they never really do find time for the clichéd fashion, hair, nails and heels (grrr, being a tall guy myself, the NO heels part is certainly a big slap in the face.... so tired of dem short girls!). To make matters worse, HIT is a place where girls don't really have the time to be women.<br>
                My search was looking gloomy... geeky girls have a penchant for looking cute, and some good 'ol intelligent conversation could never hurt an old soul like me. But I had given up on what I was looking for. Would I ever find a jaw-dropping, breathingly beautiful woman at HIT??? I was at the end of my rope here.
                Enter part 2 girl who does F.E :) :) :)
                Lets call her dat!<br>
                A woman so beautiful it shocked me that she is a tech girl. I had to eat humble pie on that myth. I never before imagined that tech girls could be tall, slim and natural. And dare say nothing about the lovely long legs.<br>
                To cut the story short (and this is becoming rather looong), she is the hawtest girl at HIT. I love that she keeps her hair natural, opting inside to maintain natural locks instead of choosing to wear someone else's hair.<br>
                The height makes her soo imposing and she is slim, but she is not Asian slim... she is African slim. Ahem, guys will know what I mean by that ;) Sigh, she is just right. She gets me dreaming. She ain't no yellow-bone too. I find YBs to be waay overrated to be honest.<br>
                So there... that's how this F.E part 2 girl ended my quest to find miss HIT, also changing my perspective on tech girls. Never mind Queen, she became the KING of my world, the hawtest chick at HIT……..<br>
                Stay tuned for part 2…….<br>
                By useX
    </p>
</div>
</div>
</div>
{% endblock %}